#bg1 {
    background-color: #0a020f;
    width: 100%;
    height: 100vh;
}

* {
    font-family: 'Roboto Mono', monospace;
    color: #4bfa00;
}

.hacker {
    color: #4bfa00;
}

.hackstar {
    color: #4bfa00;
    font-style: normal;
    font-weight: bold;
    text-shadow: 0 0 5px #4bfa00;
}

.star {
    color: #ffff66;
    font-style: normal;
    text-shadow: 0 0 5px #ffff66;
  }

.nav-item{
    text-align: right;
}

body {
    background: #0a020f;
}

.nohref {
    text-decoration:none;
}

