#bg1 {
    /* background-color: #0a020f; */
    background-color: black;
    width: 100%;
    height: 100vh;
}

* {
    font-family: 'Roboto Mono', monospace;
    color: #4bfa00;
}

.hacker {
    color: #4bfa00;
}

.hackstar {
    color: #4bfa00;
    font-style: normal;
    font-weight: bold;
    text-shadow: 0 0 5px #4bfa00;
}

.star {
    color: #ffff66;
    font-style: normal;
    text-shadow: 0 0 10px #ffff66;
  }

.boldstar {
    color: #ffff66;
    font-weight: bold;
    text-shadow: 0 0 10px #ffff66;
}

.navbar {
    margin-left: 50px;
    margin-right:50px;
    margin-top:20px;
    padding-top:70px;
    margin-bottom:100px;
}

@media (min-width: 992px){
    .navbar li {
        margin-left: 3rem;
        margin-right: 3rem;
    }
}

tr {
    text-align: left;
}

body {
    background: #0a020f;
}

.nohref {
    text-decoration:none;
}

.footer-main {
    font-size: 35px;
}

ion-icon.star{
    color: #ffff66;
}


button.navbar-toggler {
    border-color: #ffff66 !important;
}

.nav-item:hover .nav-link {
    color: #ffff66 !important;
    font-size: 105%;
    text-shadow: 0 0 10px #ffff66;
}

.starborder {
    border-color: #ffff66 !important;
}


.list-group {
    margin-bottom: 50px;
}

.e1 {
    padding-top: 20px;
}

.badge:hover {
   box-shadow: 0 0 10px #ffff66 !important;
}

.carousel-inner {
    margin: 0 auto;
}

.carousel-item img {
    margin: 0 auto;
    display: block;
    height: 500px;
    object-fit: contain;
  }

.carousel-control-prev {
    padding-right: 100px;
}

.carousel-control-next {
    padding-left: 100px;
}
