/* General */

* {
    font-family: 'Ubuntu Mono';
    font-size: 27px;
    color: #89dceb;
}

html, body {
    height: 100%;
    background-color:#11111b !important;
}

  
::-webkit-scrollbar {
    display: none;
}

/* Utilities */

.clean {
	text-decoration:none;
}

.title {
    font-family: 'Lobster';
    font-size: 85px;
    color: #f5c2e7;
}

.link {
    /* font-family: 'Raleway'; */
    text-decoration: none;
    color: #f5c2e7;
}

.link:hover {
    color: #f9e2af;
    font-weight: bold;
    text-underline-offset:6px;
    text-decoration: underline;
}

div.container-fluid.no-collision {
    padding-bottom: 80px;
}

/* Footer */

footer {
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #11111b;
}


/* Navbar */

.navbar {
    padding-top: 30px;
    margin-bottom: 60px;
}

.navbar-nav > .nav-item.current > .nav-link {
    font-weight: bold;
    text-decoration:underline;
    text-underline-offset:10px;
    font-size: 30px;
    color:#f5c2e7;
}

.navbar-nav > .nav-item > .nav-link {
    font-size: 30px;
    color:#89dceb;
    /* font-family: 'Raleway'; */

}

.navbar-nav > .nav-item > .nav-link:hover {
    color: #f9e2af;
    font-weight: bold;
}

button.navbar-toggler {
    border-color: #89dceb;
}

@media (min-width: 992px){
    #navbar {
        margin-bottom: 30px;
    }
}


/* Cards */

div .card {
    width: 500px;
    margin: 20px;
    padding-bottom: 20px;
    background-color: #181825;
    border-color: #f2cdcd;
}

div .card:hover {
    border-color: #f9e2af;
    border-width: 3px;
}

.card-body {
    background-color: #181825;
}

p.card-text {
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    font-size: 20px;
}

